<div class="container">
  
  <% if notice %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Message:</strong> <%= notice %>
  </div>

  <% end %>
  
  <div class="row ">
    <div class="col-xs-12 col-sm-12">
      <div class="jumbotron">
        <h2>MENU</h2>
         <!-- <% @foods.each do |food| %>
         <p><%= food.vote_items.count %>&times<%= food.title%></p>
         <% end %> 
         -->
        <p>good good good good good good good good </p>
      </div>
      <% @categories.each do |category| %>
        <%= link_to category.title ,menu_path(:category_id => category.id), :remote => true%>
      <% end %>
      <div class="row">
        <%#= render(@foods) %>
      </div>
    </div>
  </div>
  
  <hr>
  <footer>
  <p>© Company 2013</p>
  </footer>
  
</div>
 
 

