

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post ,:class => 'form-signin'}) do |f| %>
  <%= devise_error_messages! %>
  <h2>reset password</h2>

  <div>
  <%= f.email_field :email, :autofocus => true , :class => "form-control", :placeholder => "Email address" %></div>

  <div><%= f.submit "Send Email", :class => "btn btn-lg btn-primary btn-block" %></div>

<% end %>


