<tr>
  <td><%= user_role.user.username %></td>
  <td><%= user_role.user.email %></td>
  <td><%if (user_role.role == 0) %>
      管理员
      <% else %>
      普通用户
      <% end %>
  </td>
  <td>
    <% if (user_role.user_id != current_user.id)%>
    <%= link_to '编辑', edit_user_role_path(user_role) %> &nbsp;
    <%= link_to '删除', user_role, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
    <span style="color:#eee;">编辑 &nbsp; 删除</span>
    <% end %>
  </td>
  
</tr>
       