<div class="container">
<h2>用户</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>roles</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render(@user_roles) %>
    </tbody>
  </table>
</div>
<hr>
<footer>
<p>© Company 2014</p>
</footer>
</div>