<div class="container">
<h1>Vendor</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.title %></td>
        <td>
          <%= link_to 'Edit', edit_vendor_path(vendor) %> &nbsp;
          <%= link_to 'Destroy', vendors_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <tr>
      <% end %>
      
    </tbody>
  </table>
  <%= link_to 'New Vendor', new_vendor_path %>
</div>
<hr>
<footer>
<p>© Company 2013</p>
</footer>
</div>


