.edit {
  width: 600px;
  margin: 0 auto;
}

.dsp {
  display:none;
  height: 36px;
  overflow: hidden;
  margin-bottom: 10px;
}
.img {
  height: 140px;
  overflow: hidden;
}
.vendor .active a{
  color: red;
}

.result {
  position: relative;
  font-size: 120%;
}

.result span {
  float: right;
}
.panel-heading {
  text-align: center;
}
.prepare {
/*  position: relative;
  width: 50%;*/
  height: 256px;
  border: dashed 3px #eee;
  border-radius:25px;
  margin: 0 auto;
  text-align: center;
}
.prepare span {
  line-height: 256px;
  font-size: 150%;
}

