<div class="container">
<h2>种类</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td>
          <%= link_to '编辑', edit_category_path(category) %> &nbsp;
          <%#= link_to 'Destroy', categories_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <tr>
      <% end %>
      
    </tbody>
  </table>
  <%= link_to '新建种类', new_category_path %>
</div>
<hr>
<footer>
<p>© Company 2014</p>
</footer>
</div>


