<div class="container">
<h1>Category</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td>
          <%= link_to 'Edit', edit_category_path(category) %> &nbsp;
          <%= link_to 'Destroy', categories_path, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <tr>
      <% end %>
      
    </tbody>
  </table>
  <%= link_to 'New Category', new_category_path %>
</div>
<hr>
<footer>
<p>© Company 2013</p>
</footer>
</div>


